@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --maincolor: #FF6231;
}

@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Darker+Grotesque:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.flexcenter{
  @apply flex items-center justify-center
}

.topcenter{
  @apply flex items-center
}

.midbetween{
  @apply flex justify-between
}
.container{
  @apply max-w-[1140px] mx-auto
}

.navli{
  @apply font-Roboto font-normal text-[19px] text-whitec
}

.h1{
  @apply font-Darker font-extrabold text-[80px] leading-[90%] text-whitec capitalize
}
.h4{
  @apply font-Darker font-semibold text-[28px] text-blackc 
}
.h5{
  @apply font-medium text-[28px] leading-[110%] text-whitec
}
.p2{
  @apply font-medium text-xs leading-[170%] text-main
}
.p3{
  @apply font-Roboto font-medium  text-base text-primary 
}


/* //////////////////////////////animation///////////////////////////////////////////////////// */

.phone{
  animation: phone 7s linear infinite;
}
@keyframes phone{
  0%{
    top:87px;
  }
  50%{
    top:117px
  }
}

.love{
  animation: love 5s linear infinite;
}
@keyframes love{
  0%{
    transform: scale(1) rotate(0);
  }
  50%{
    transform: scale(1.3) rotate(-20deg);
  }
}

.like{
  animation: like 5s linear infinite;
}
@keyframes like{
  0%{
    transform: scale(1) rotate(0);
  }
  50%{
    transform: scale(1.2) rotate(20deg);
  }
}
.mail{
  animation: mail 5s linear infinite;
}
@keyframes mail{
  0%{
    transform: scale(1) rotate(0);
  }
  50%{
    transform: scale(1.2) rotate(20deg);
  }
}
.massage{
  animation: massage 5s linear infinite;
}
@keyframes massage{
  0%{
    transform: scale(1) rotate(0);
  }
  50%{
    transform: scale(1.2) rotate(-20deg);
  }
}
.twitter{
  animation: twitter 5s linear infinite;
}
@keyframes twitter{
  0%{
    transform: scale(1) rotate(0);
  }
  50%{
    transform: scale(1.2) rotate(-20deg);
  }
}
.l1{
  animation: l1 5s linear infinite;
}
@keyframes l1{
  0%{
    transform:  rotate(0);
  }
  50%{
    transform: rotate(-3deg);
  }
}
.l2{
  animation: l2 5s linear infinite;
}
@keyframes l2{
  0%{
    transform:  rotate(0);
  }
  50%{
    transform: rotate(3deg);
  }
}
.l3{
  animation: l3 5s linear infinite;
}
@keyframes l3{
  0%{
    transform:  rotate(0);
  }
  50%{
    transform: rotate(-3deg);
  }
}
.l4{
  animation: l4 5s linear infinite;
}
@keyframes l4{
  0%{
    transform:  rotate(0);
  }
  50%{
    transform: rotate(3deg);
  }
}
.l5{
  animation: l5 5s linear infinite;
}
@keyframes l5{
  0%{
    transform:  rotate(0);
  }
  50%{
    transform: rotate(5deg);
  }
}
.l6{
  animation: l6 5s linear infinite;
}
@keyframes l6{
  0%{
    transform:  scale(1);
  }
  50%{
    transform: scale(1.05);
  }
}
.l7{
  animation: l7 5s linear infinite;
}
@keyframes l7{
  0%{
    transform:  scale(1);
  }
  50%{
    transform: scale(1.05);
  }
}
/* //////////////////////////////animation///////////////////////////////////////////////////// */